$small-spacing: 0.5rem;
$spacing: 1rem;
$medium-spacing: 1.2rem;
$large-spacing: 1.5rem;
$double-spacing: 2rem;
$triple-spacing: 3rem;
$border-radius: 1.8rem;
$box-shadow: 0 10px 30px theme-color("gray");

@mixin remove-spacing {
    margin: 0;
    padding: 0;
}
