body:not(.home) {
    #footer {
        margin-top: $triple-spacing;
    }
}

#footer {
    margin: $large-spacing;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: $border;

    @include respond-below(md) {
        grid-template-columns: 1fr;
        background: #fdfbfb;
    }

    section.widget {

        margin: 0;
        padding: $double-spacing;
        font-size: 1.4rem;
        
        .section-title,
        .widget-title {
            margin: $double-spacing 0;
            padding: 0;
            font-size: 1.5rem;
            font-family: $main-font;
            text-transform: uppercase;
            text-align: center;
        }
        
        &.contact {
            display: grid;
            grid-template-columns: 1fr;
        }

        &.widget_nav_menu {
            .nav-link {
                font-family: $main-font;
            }
        }

    }
}