.page-template-landing {

    background: linear-gradient(to right, #0062E6, #33AEFF);

    .hero {
        position: relative;
        max-height: 90vh;
        overflow: hidden;

        .landing-video {
            display: block;
            height: 100%;
        }

        .overlay {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 1;

            .overlay-content {
                max-width: 75%;
                text-align: center;

                h2 {
                    padding: 0;
                    margin: 0 0 $spacing 0;
                    font-size: 2.5rem;
                    font-weight: 700;
                }

                p {
                    font-weight: 300;
                    font-size: 1.2rem;
                }

                h2, p {

                    color: #ffffff;
                }

                .actions {
                    width: 70%;
                    margin: auto;
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    gap: $spacing;
                }
            }

            :after {
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background: rgba(18, 35, 46, .25);
                z-index: -1;
            }
        }
    }

    .landing-section-header {
        color: theme-color('shadow-light');
        font-size: 3rem;
        margin-bottom: 2rem;
        text-align: center;
    }

}