.section {

    &:not(.full-width-section) {
        padding: $triple-spacing;
    }

    &.pink-section {
        background: theme-color('pink');
    }

    &.gray-section {
        background: theme-color('light-gray');
    }

    &.full-width-section {
        padding: $triple-spacing 0;

        &#instagram {
            padding-bottom: 0;
        }
    }
    
    .section-title {
        margin: $double-spacing 0 ($double-spacing + $triple-spacing) 0;
        padding: 0;
        font-size: 2rem;
        font-family: $main-font;
        text-transform: uppercase;
        text-align: center;
    }
    
}