.heading-container {
    padding: 0 $triple-spacing;
    margin: $triple-spacing 0;

    h1 {
        font-size: 6rem;
        opacity: 0.1;
        padding: 0;
        margin: 0;
        text-align: center;
        font-family: $main-font;
    }
}