.page-template-contact {

    .contact-form {

        .wpcf7-not-valid-tip {
            padding: $small-spacing 0;
            color: theme-color('gray');
        }

        .wpcf7-form-control {
            border: $border;
            padding: $large-spacing $spacing;
            border-radius: 0;
            font-size: 1.2rem;

            &:not(.wpcf7-submit) {

                transition: background-color 300ms ease-in-out;

                &:focus {
                    background-color: theme-color('light-gray');
                }
            }

            &.wpcf7-textarea {
                max-height: 12rem;
                height: auto;
            }

            &.wpcf7-submit {
                display: block;
                width: 100%;
                text-align: center;
            }

            &:focus {
                box-shadow: none;
                border: none;
            }
        }

        .ajax-loader {
            display: block;
            margin: $double-spacing auto;
        }

        .wpcf7 form.failed .wpcf7-response-output,
        .wpcf7 form.aborted .wpcf7-response-output {
            border: none;
            background-color: theme-color('pink');
        }
    
        .wpcf7-response-output {
            @include remove-spacing;
            border: none;
            padding: $spacing $large-spacing;
            background: theme-color('light-gray');
        }

    }

    .content-area {
        text-align: center;

        .footer-contacts-widget {

            padding: $spacing;

            .widget-title {
                display: none;
            }

        }
    }
    
    .contact-cols {        

        .cols {
            display: grid;
            grid-column-gap: $triple-spacing;
            grid-template-columns: 1fr 1fr;
            padding: $double-spacing 0;

            @include respond-below(md) {
                grid-template-columns: 1fr;
            }
        }
    }

}